%p
  Hello, #{current_user.full_name} (
  = link_to "sign out", logout_path
  )

= form_for @todo do |f|
  = f.text_field :name, placeholder: "Add a todo here"
  = f.submit "Add Todo", class: 'btn'

%ul
  - @todos.each do |todo|
    %li
      = link_to todo.display_text, todo